"url","username","password","httpRealm","formActionOrigin","guid","timeCreated","timeLastUsed","timePasswordChanged"
"https://example.com","USER_NAME","PASSWORD",,"https://example.com","GUID","1638117476218","1638117476218","1638117476218"
